.DS_Store
node_modules
*.log
*.tmp
*.tmp.*
log.txt

framework.sublime-project
framework.sublime-workspace
UserInterfaceState.xcuserstate
*.sublime-project
*.sublime-workspace

bower_components/
components/
tmp
temp
dist

.idea
*.iml